/* ===== Reset minimal ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Base document ===== */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, "Segoe UI", sans-serif;
  background-color: var(--couleur-fond);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
header {
    background-color: var(--couleur-principale);
    color: white;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    flex: 1;
}

footer{
    background-color: var(--couleur-principale);
    color: var(--couleur-secondaire);
}
/* ===== Titres ===== */
h1,h2 {
  font-weight: 600;
  text-align: center;
}


/* ===== Texte ===== */
p {
}

/* ===== Liens ===== */
a {
  text-decoration: none;
}

/* ===== Formulaires ===== */
input, select, button {
  font-family: var(--police-base);
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* ===== Boutons ===== */
button {
  border: none;
  background-color: var(--couleur-principale);
  color: var(--couleur-secondaire);
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--couleur-principale-survol);
}

/* ===== Tableaux ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}

/* ===== Sections ===== */
section {
  padding: 1rem;
  background-color: #fff;
}

/* ====== Classe ====== */
.error {
    color: red;
    display: none;
}

/* ===== Organisation en lignes ===== */
.inline-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Chaque ligne */
.inline {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}