/* ===== Layout Dashboard ===== */
section {
  background-color: #f9f9fb;
  border-radius: 10px;
}


/* ===== Bouton création utilisateur ===== */

#createUser:hover {
  background-color: var(--couleur-principale-survol);
}

/* ===== Bouton déconnexion ===== */
.disconnect-div {
    margin-left: auto;
}

#disconnect {
  padding: 0.75rem 1rem;
  background-color: var(--couleur-btnDeconnexion);
  font-weight: 600;
}

#disconnect:hover {
  background-color: var(--couleur-btnDeconnexion-survol);
}

/* ===== Tableau ===== */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--rayon-bordure);
  overflow: hidden;
}

thead {
  background-color: var(--couleur-principale);
  color: var(--couleur-secondaire);
}

th, td {
  text-align: left;
}

tbody tr {
  background-color: var(--couleur-fond);
  transition: background-color 0.2s ease;
}

tbody tr:hover {
  background-color: #f1f3f8;
}

/* ===== Status utilisateur ===== */
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.2s ease;
}

.status-active {
  background-color: #28a745; /* vert */
}

.status-inactive {
  background-color: #dc3545; /* rouge */
}

.status-circle:hover {
  transform: scale(1.2);
}

