/* ===== Overlay ===== */
.modal {
  display: none; /* cachée par défaut */
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  align-items: center;
  justify-content: center;
}

/* ===== Contenu de la modal ===== */
.modal-content {
  background: #fff;
  padding: 1.5rem;
  width: 100%;
  max-width: 550px;
  border-radius: 8px;
  position: relative;
}

/* ===== Titre ===== */
.title-modal {
  margin-bottom: 1rem;
}

/* ===== Bouton fermer ===== */
#close-modal-createUser {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ===== Champs ===== */
.form-group {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.5rem;
}

label {
  min-width: 90px;
}

input,
select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ===== Boutons ===== */
#btnCreate,
#btnModify {
  margin-top: 1.2rem;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ===== Liste Dentistes ===== */
.div-list-dentiste {
  display: none;
}