:root {
  /* ===================== Typographie ===================== */
  --police-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* ===================== Bordures ===================== */
  --rayon-bordure: 4px;

  /* ===================== Couleurs principales ===================== */
  --couleur-fond: #0c091b;
  --couleur-principale: #001d3a;
  --couleur-principale-survol: #012951;
  --couleur-secondaire: #ffffff;
  --couleur-secondaire-survol: #fafafa;
  --couleur-ombre: #0000009a;

  /* ===================== Boutons ===================== */
  --couleur-suppression: #990000;
  --couleur-suppression-survol: #990000;

  /*------ Deconnection -------*/
  --couleur-btnDeconnexion: #cc1111;
  --couleur-btnDeconnexion-survol: #990000;

  /* ===================== Texte ===================== */
  --couleur-texte: #cbcbcb;
  --couleur-texte-secondaire: #666;

  /* ===================== Tableaux ===================== */
  --couleur-bordure: #ccc;
  --couleur-bordure-claire: #ddd;
  --couleur-fond-entete-table: #f0f0f0;

  /* ===================== Tableaux ===================== */
  --couleur-fond-input: #8e8e8e;
  
  /* ===================== Autres ===================== */
}
