:root {
  /* ===================== Typographie ===================== */
  --police-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* ===================== Bordures ===================== */
  --rayon-bordure: 4px;

  /* ===================== Couleurs principales ===================== */
  --couleur-fond: #3f3f3f;
  --couleur-principale: #0c6dce;
  --couleur-principale-survol: #083664;
  
  /* ------ Texte -----*/
  --couleur-texte: #e7e7e7;

  /* ===================== Boutons ===================== */
  --couleur-suppression: #990000;
  --couleur-suppression-survol: #990000;

  /*------ Deconnection -------*/
  --couleur-btnDeconnexion: #cc1111;
  --couleur-btnDeconnexion-survol: #990000;

  /* ===================== Tableaux ===================== */
  --couleur-bordure: #ccc;
  --couleur-bordure-claire: #ddd;
  --couleur-fond-entete-table: #f0f0f0;

  --couleur-survol-ligne-tab: #525252;

  /* ===================== Input ===================== */
  --couleur-fond-input: #e2e2e2;
  
  /* ===================== Autres ===================== */
  --couleur-secondaire: #ffffff;
  --couleur-secondaire-survol: #fafafa;
  --couleur-ombre: #0000009a;
}
